---
import { getCollection } from 'astro:content';
import DefaultLayout from "../layout/default.astro";
import {getEntry, CollectionEntry} from "astro:content";

interface Frontmatter {
    cushionMessage?: string
}

export async function getStaticPaths(): Promise<{params: { paths: string }, props: { entry: CollectionEntry<string> }}[]> {
    const pathLists = await getCollection("articles")

    return pathLists.map(entry => {
        return {
            params: {
                paths: entry.slug,
            },
        }
    })
}

const post = await getEntry("articles", Astro.params.paths);

const {Content} = await post.render()

---
<style is:global>
    .light .cushion-message{
        background: #FAFAFA;
        color: #212121;
    }

    .dark .cushion-message{
        background: #212121;
        color: #FAFAFA;
    }
</style>
<DefaultLayout>
    {
        post?.data?.cushionMessage ?
            <div class="cushion-message absolute flex top-0 left-0 w-full h-full justify-center items-center">
                <div class="flex flex-col max-w-[80%]">
                    {post?.data?.cushionMessage}
                    <div class="flex flex-col mt-8">
                        <button id="cushion-yes" class="border rounded py-4 px-2">{
                            post?.data?.cushionYes ? post?.data?.cushionYes : "Yes"
                        }</button>
                        <a id="cushion-no" class="border rounded py-4 px-2 mt-8 text-center" href={post?.data?.cushionNoHref ? post?.data?.cushionNoHref : "https://google.com"}>{
                            post?.data?.cushionNo ? post?.data?.cushionNo : "No"
                        }</a>
                    </div>
                </div>
            </div> : ""
    }
    <main>
        <article id="main-article" class={post?.data?.cushionMessage ? "hidden" : ""}>
            <Content />
        </article>
    </main>
</DefaultLayout>

<script lang="ts">
    const cushionMessage = document.querySelector(".cushion-message")
    const adventureButton = document.querySelector("#cushion-yes")
    const mainArticle = document.querySelector("#main-article")

    if(cushionMessage && adventureButton && mainArticle) {
        adventureButton.addEventListener("click", () => {
            cushionMessage.classList.add("hidden")
            mainArticle.classList.remove("hidden")
        })
    }
</script>
