---
import {getCollection} from "astro:content";
import DefaultLayout from "../layout/default.astro";


const pathLists = await getCollection("articles")

const pages: {href: string, title: string}[] = pathLists.map(pathList => {
    const file = pathList.body

    const regexResult = /(^# (?<md_title>.*))|(<h1.*>(?<html_title>.*)<\/h1>)/.exec(file)
    const title = regexResult?.groups?.md_title
        ? regexResult?.groups?.md_title
        : (regexResult?.groups?.html_title
            ? regexResult?.groups?.html_title
            : "no title");

    const href = "./" + pathList.slug + ".html"

    return {
        href,
        title
    }
})
---
<DefaultLayout title="記事一覧">
    <article>
        <h1>記事一覧</h1>
        <ul>
            {pages.map(page =>
                    <li><a href={page.href} target="_self">{page.title}</a></li>)}
        </ul>
    </article>
</DefaultLayout>
