---
---
<div class="absolute top-6 right-8 w-8 y-8 opacity-30 theme-toggler">
    <svg viewBox="0 0 24 24">
        <path fill="currentColor"
              d="M12,18V6A6,6 0 0,1 18,12A6,6 0 0,1 12,18M20,15.31L23.31,12L20,8.69V4H15.31L12,0.69L8.69,4H4V8.69L0.69,12L4,15.31V20H8.69L12,23.31L15.31,20H20V15.31Z"/>
    </svg>
</div>

<script>
    // svg from https://materialdesignicons.com/icon/brightness-6

    function toggleTheme() {
        document.body.classList.toggle("dark");
        document.body.classList.toggle("light");
    }

    const elm = document.querySelector(".theme-toggler").addEventListener("click", toggleTheme)
</script>

<style>
    .theme-toggler {
        position: absolute;
        top: 24px;
        right: 36px;
        width: 36px;
        height: 36px;
        opacity: 0.3;
        cursor: pointer;
    }
</style>
